*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
table{
    background-color: red;
    width: 270px;
    height:300px;
    margin:auto;

     
}
h1{
    text-align: center;
}
.one{
    background-color: black;
}
.two{
    background-color: white;
}